#gameName {
    width: 100%;
    font-size: 50px;
    text-align: center;
}

body {
    text-align: center;
}

button {
    margin: 8px;
    padding: 0px;
    transition: width 300ms, height 300ms;
}

image {
    transition: width 300ms, height 300ms;
}